<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Webcam</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/camstyle.css" />
  </head>
  <body>
    <header class="top">
      <h1>Items Detection using Cam</h1>
    </header>
    <header class="second">
      <h1>Live Detection</h1>
    </header>

    <div class="main-content">
      <div class="webcam-container">
        <div class="video-placeholder" id="video-placeholder">
          <p>Click start below to proceed</p>
        </div>
        <canvas id="captureCanvas" style="display: none"></canvas>
        <img
          src=""
          alt="Uploaded video"
          id="webcam-video"
          onload="hidePlaceholder()"
        />
        <div class="controls">
          <button id="start-detection">Start Detection</button>
          <button id="stop-detection" disabled>Stop Detection</button>
        </div>        
      </div>

      <div class="sidebar">
        <div class="temperature-box">
          <h2>Outside Temperature</h2>
          <p id="temperature">Loading...</p>
        </div>
        <div class="scrollable-section object-names-box">
          <h2>Detected Objects</h2>
          <ul id="object-names-list"></ul>
        </div>
        <div class="scrollable-section food-log-box">
          <h2>Nutritional Intake Log</h2>
          <ul id="food-log-list"></ul>
        </div>
      </div>
    </div>

    <!-- Nutritional Information Section -->
    <div class="nutrition-details" id="nutrition-details">
      <div class="nutrition-header">
        <h2>Nutritional Information</h2>
        <div id="food-buttons-container">
          <p>Select a food item to see detailed information:</p>
          <div id="food-buttons"></div>
        </div>
      </div>
      <div id="nutrition-content">
        <h3 id="food-name">-</h3>
        <div class="nutrition-info-container">
          <div class="nutrition-info-item">
            <h3>Calories</h3>
            <p id="calories">-</p>
          </div>
          <div class="nutrition-info-item">
            <h3>Total Fat</h3>
            <p id="total-fat">-</p>
          </div>
          <div class="nutrition-info-item">
            <h3>Total Carbohydrates</h3>
            <p id="total-carbs">-</p>
          </div>
          <div class="nutrition-info-item">
            <h3>Dietary Fiber</h3>
            <p id="dietary-fiber">-</p>
          </div>
          <div class="nutrition-info-item">
            <h3>Protein</h3>
            <p id="protein">-</p>
          </div>
        </div>
      </div>
    </div>


    


    <script src="/static/scripts/livecam.js"></script>
    <script src="/static/scripts/nutritiondata.js"></script>
  </body>
</html>
