<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Webcam</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/camstyle.css" />
  </head>
  <body>
    <header class="top">
      <h1>Items Detection using Cam</h1>
    </header>
    <header class="second">
      <h1>Live Detection</h1>
    </header>

    <div class="main-content">
      <div class="webcam-container">
        <div class="video-placeholder" id="video-placeholder">
          <p>Click start below to proceed</p>
        </div>
        <canvas id="captureCanvas" style="display: none"></canvas>
        <img
          src=""
          alt="Uploaded video"
          id="webcam-video"
          onload="hidePlaceholder()"
        />
        <div class="controls">
          <button id="start-detection">Start Detection</button>
          <button id="stop-detection" disabled>Stop Detection</button>
        </div>        
      </div>

      <div class="sidebar">
        <div class="temperature-box">
          <h2>Outside Temperature</h2>
          <p id="temperature">Loading...</p>
        </div>
        <div class="scrollable-section object-names-box">
          <h2>Detected Objects</h2>
          <ul id="object-names-list"></ul>
        </div>
        <div class="scrollable-section food-log-box">
          <h2>Nutritional Intake Log</h2>
          <ul id="food-log-list"></ul>
        </div>
      </div>
    </div>

    <script src="/static/scripts/livecam.js"></script>
  </body>
</html>
